body {
    background: black;
}
#mainContainer{
    background: gray;
    margin-left: 25%;
    margin-right: 25%;
}
#mainBodyContainer, #mainHeaderContainer{
    background: gray;
}
#mainHeaderContainer{
    background: gray;
}