@font-face{/*Chakra Petch*/
    font-family: ChakraPetch;
    src: url(./Fonts/ChakraPetch/ChakraPetch-Regular.ttf);
}
@font-face{/*Orbitron Regular*/
    font-family: Orbitron;
    src: url(./Fonts/Orbitron/Orbitron-Regular.ttf);
}
@font-face {/*Orbitron Bold*/
    font-family: OrbitronB;
    src: url(./Fonts/Orbitron/Orbitron-Bold.ttf);
}
@font-face {/*Orbitron Extra Bold*/
    font-family: OrbitronEB;
    src: url(./Fonts/Orbitron/Orbitron-ExtraBold.ttf);
}


@media screen and (min-width: 1900px) {

body {
    background-color: white;
}

#header {
    background-color: rgba(32, 79, 173, 0.904);
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header p {
    color: white;
    font-family: OrbitronB;
    font-size: 25px;
}

#pageContainer {
    display: grid;
    grid-template-columns: minmax(35%, 1fr) 75%;
    grid-template-rows: auto 375px 375px;
    background-color: white;
    margin: 10px 15% 0 15%;
}
#pageContainer > .gridItem {
  background-color: rgba(0, 0, 0, 0.336);
  font-size: 18px;
  font-family: ChakraPetch;
  margin: 10px;
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

#navigation {
    position: relative;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
#navigation div p {
    padding-bottom: 20px;
}
#navigationItem_List ul {
    list-style-type: none;
    text-align: center;
}
#navigationItem_List ul li {
    text-align: left;
    max-width: 50%;
    margin: auto;
    padding-bottom: 15px;
    text-indent: 5px;
    letter-spacing: .5px;
}
#navigationItem_List ul li:hover  {
    color: white;
    background-color: blue;
    border-radius: 5px;
    
}

#footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: rgba(32, 79, 173, 0.904);
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#footer p {
    color: white;
    font-family: OrbitronB;
    font-size: 15px;
}


#content {
    display: block;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content1 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content2 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content3 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content4 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content5 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content6 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

p {
    text-align: center;
    font-weight: normal;
    color: blue;
    letter-spacing: 1px;
}
}/* end of MEDIA 1920px max-width */
