@font-face{/*Chakra Petch*/
    font-family: ChakraPetch;
    src: url(./Fonts/ChakraPetch/ChakraPetch-Regular.ttf);
}
@font-face{/*Orbitron Regular*/
    font-family: Orbitron;
    src: url(./Fonts/Orbitron/Orbitron-Regular.ttf);
}
@font-face {/*Orbitron Bold*/
    font-family: OrbitronB;
    src: url(./Fonts/Orbitron/Orbitron-Bold.ttf);
}
@font-face {/*Orbitron Extra Bold*/
    font-family: OrbitronEB;
    src: url(./Fonts/Orbitron/Orbitron-ExtraBold.ttf);
}


@media screen and (min-width: 1900px) {

#headerWrapper {
    background-color: white;
}
#header {
    background-color: rgba(32, 79, 173, 0.904);
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#header p {
    color: white;
    font-family: OrbitronB;
    font-size: 25px;
}

body {
    background-color: white;
}
#pageContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto 375px 375px;
    background-color: white;
    margin: 5px;
}
#pageContainer > .gridItem {
  background-color: rgba(0, 0, 0, 0.336);
  font-size: 18px;
  font-family: ChakraPetch;
  margin: 10px;
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#navigation {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
#navigation div p {
    padding-bottom: 20px;
}
#navigationItem_List ul {
    list-style-type: none;
    text-align: center;
}
#navigationItem_List ul li {
    text-align: center;
    max-width: 25%;
    margin: auto;
    padding-bottom: 15px;
}
#navigationItem_List ul li:hover  {
    border: 2px solid black;
}

#content {
    display: block;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content1 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content2 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content3 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content4 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content5 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
#content6 {
    display: none;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

#footer {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

p {
    text-align: center;
    font-weight: normal;
    color: blue;
}
}/* end of MEDIA 1920px max-width */
