body {
    background: black;
}
#contentWrapper, #mainBodyContainer, #mainHeaderContainer, #mainFooterContainer{
    background:gray;
}
#contentWrapper{
    margin-left: 5%;
    margin-right: 5%;
    padding: .25, .25, .15, .25;
}
#mainHeaderContainer{
    background: white;
}
#mainBodyContainer{
    background: white;
}
#mainFooterContainer{
    background: white;
}